@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto px-3 max-w-5xl;
}

h3 {
  @apply font-bold text-cyan-950 mb-2
}

a {
  @apply text-cyan-600
}